<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.acefx_app"
    tools:ignore="MissingLeanbackLauncher">

    <!-- Internet permission for Razorpay and APIs -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Optional: specify device features -->
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ace_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Acefxapp.NoActionBar">

        <!-- Razorpay API Key -->
        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_test_1234567890abcdef" />

        <!-- MainActivity (Login screen) -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- DashboardActivity (with NavHost + BottomNav) -->
        <activity
            android:name=".DashboardActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <!-- Razorpay Checkout Activity (auto handled but safe override) -->
        <activity
            android:name="com.razorpay.CheckoutActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            tools:replace="android:exported,android:theme" />

    </application>

</manifest>
